header{
    background-color: black;
    color:#fbf6f6;
    padding:10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

main{
    color: rgb(226, 224, 232);
    max-width: 550px;
    margin: auto;
    padding: 10px;
}
h2{
    text-align: center;
}
.blog{
    background-color: rgb(29, 10, 136);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.blog img{
    margin-left: 130px;
}
.blog p{
    font-weight: bold;
    text-align: justify;
    color:white;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

